/* 
body{
	font-family: Arial, Helvetica, sans-serif ;
	
	
}
button{
	font-family: Verdana, sans-serif;
	font-weight: bold;
}
.display-6, .display-5 {
	font-family: Verdana, sans-serif;
} */

.round{
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid rgb(0, 0, 0); /* Параметры рамки */
    padding: 7px;
}
.round-house{
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid rgb(0, 0, 0); /* Параметры рамки */
    padding: 6px 9px 7px 7px;
}
a {
    outline: 0;
    text-decoration: none;

}

.section-padding {
	padding-top: 60px;
	padding-bottom: 60px;
}
.page-banner {
	background: url("public\img\contact-banner.jpg"); 
	-webkit-background-size: cover;
	background-size: cover;		
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;	
	min-height: 350px;
	max-height: 350px;
	z-index: 1;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.page-banner::before{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	background: linear-gradient( rgb(255, 227, 232), rgb(193, 193, 236));;
}
.page-banner .banner-content {
	position: absolute;
	z-index: 1;	
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(-50%, -50%);
}
.page-banner .banner-content::before,
.page-banner .banner-content::after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	width: 1px;	
}
.page-banner .banner-content::before {
	left: 0;	
}
.page-banner .banner-content::after {	
	right: 0;
}
.page-banner .banner-content h3 {	
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 21px;
	letter-spacing: 1.1px;
	line-height: 32px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 15px;
	display: block;
	padding-right: 80px;
	word-wrap: break-word;	
}
.page-banner .banner-content .breadcrumb li {	
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	word-wrap: break-word;
}


.page-banner .banner-content .breadcrumb  a{
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.12px;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 5px;
	word-wrap: break-word;
}
#scrollToTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-weight: bold;
	cursor: pointer;
	opacity: 0;
	transition: all 0.5s ease-in;
   }
   .text-justify { 
    text-align: justify; /* Выравнивание по ширине */
   }

   .slidebar-fixed {
    height: 100vh;
    width: 280px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: rgb(252, 252, 252);
    padding: 1.5rem;
    padding-top: 0;

}

.slidebar-fixed .list-group .active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.slidebar-fixed .logo-wrapper img{
    min-height: 50px;
}
@media(min-width:1200px){
    footer, main, .navbar1{
        padding-left: 280px;
        
    }
}
@media(max-width:1199.98px){
    .slidebar-fixed{
        display: none;
    }
}
.btn1{
border-radius:20px;
background: #0D6EFD;
color:white;
font-weight: bolder;
margin: 10px;
}
.btn2{
	border-radius:20px;
	background: white;
	color: black;
	font-weight: bolder;
	border-color: #0D6EFD;
	margin: 10px;
	}

#primary{
	background: #0D6EFD;
	font-weight: bolder;
}
#primary1{
	background: #0D6EFD;
	font-weight: bolder;
	border-radius:20px;
}
.text_primary{
	color: #0D6EFD;
}

